body {
	background-color: navy;
}
#gameBoard {
	/*display:none;*/
	margin: 10px 0px;
}

.tile {
	height: 100px;
	width: 100px;
	margin: 2px 0px;
}

#winner {
	display: none;
}

#again {
	display: none;
}
